[submodule "Core"]
	path = Core
	url = https://github.com/f-ship/Engine.Server.Core
[submodule "KSP"]
	path = KSP
	url = https://github.com/f-ship/Engine.Server.KSP
[submodule "Utils"]
	path = Utils
	url = https://github.com/f-ship/Engine.Server.Utils
